<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="preacher" value="Kis Gergely Márton" />
    <add key="title" value="Vasárnapi istentisztelet" />
    <add key="lblReadingLong" value="Igehirdetések olvasása - 2020" />
    <add key="lblReadingShort" value="Igehirdetések olvasása" />
    <add key="lblListeningLong" value="Istentiszteletek megtk - 2020" />
    <add key="lblListeningShort" value="Istentiszteletek megtekintése" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>